.alarm
{
    
   height: 100%;
   width: 50%;
   background-color: rgb(184, 43, 43);
}
.rightside
{
     height: 100%;
     width: 65%;
   background-color: rgb(248 249 251);
  
}

.add{
   position: relative;
   bottom: 0;
   right: 0;

}
li:hover{
   background: #dcdbdb;
}
.optionDot
{
   float:right;
   
}
.username
{
   color:rgb(233, 241, 241);
   font-weight: 700;
   font-size: larger;
   
}
.ListUsername
{
   color:rgb(76, 77, 77);
   font-weight: 700;
   font-size: larger;  
}
.nav{
   background-color: #000000;
}

.app__container,
.alarm {
  margin-right: 50%;  
  height: 90vh;
  width: 30vw;
  background-color: #f8f9fa;
  z-index: 10;
  display: flex;
  flex-direction: column;
  transition: all 0.25s linear;
  box-shadow: 0 0 10px 2px rgba(247, 247, 247, 0.5);
}

.alert
{
    position: absolute;
    left:5rem;
    bottom: 5rem;
   
    
}

.hideIt
{
    position: absolute;
    left:-99999px;
    bottom: -99999px;
   
    
}
.listItems
{
   max-height: 91%;
   scroll-behavior: auto;
   overflow-y: auto
}

@media screen and (min-width: 0px) and (max-width: 1440px) {
   .app__container,
   .alarm {
     height: 100%;
     width: 100vw;
     overflow-y: auto

   }
 }
