
.app {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: grid;
  place-items: center;
}
.app__top {
  width: 100%;
  height: 17.5vh;
  background-color: #00a884;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.app__container,


.start{
  height: 90vh;
  width: 30vw;
  background-color: #ffffff;;
  z-index: 10;
  margin-right: 50%;  
  display: flex;
  transition: all 0.25s linear;
  box-shadow: 0 0 10px 5px rgba(247, 247, 247, 0.5);
}
a {
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 0px) and (max-width: 1440px) {
  .app__container,
  .start {
  margin: auto;  
    height: 100vh;
    width: 100vw;
  }
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cccccc;
}
.main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 30%;
  min-height: 88%;
  background-color: #ffffff;
  
}

.heading{

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#000000;
  font-size: larger;
  text-decoration:underline;
  /* font-weight: 700  ; */
}


